# configuration for all branches
-
  environment:
    packageVersion: 1.0.0

  version: '%packageVersion%-{branch}-{build}'
  image: Visual Studio 2017

  nuget:
    project_feed: true

  install:
    - cmd: appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

  cache:
    - packages -> **\packages.config

  pull_requests:
    do_not_increment_build_number: false

  skip_branch_with_pr: false

  before_build:
    - cmd: nuget restore

  after_build:
    - cmd: nuget pack Source\Lib\%APPVEYOR_PROJECT_NAME%\%APPVEYOR_PROJECT_NAME%.nuspec -OutputDirectory Build\Lib\%CONFIGURATION%\netstandard1.1 -BasePath Source\Lib\%APPVEYOR_PROJECT_NAME% -Properties buildConfig=Release -Version %APPVEYOR_BUILD_VERSION%

  build:
    verbosity: minimal

  configuration: Release

  after_test:
    - ps: Join-Path "Build\Lib\" -ChildPath $env:CONFIGURATION | Join-Path -ChildPath "\netstandard1.1" | Get-ChildItem | Where-Object {$_.Extension -match '.dll|.pdb|.xml'} | Rename-Item -NewName {'Trakt.NET.' + $env:APPVEYOR_BUILD_VERSION + $_.Extension}
    - ps: Join-Path "Build\Lib\" -ChildPath $env:CONFIGURATION | Join-Path -ChildPath "\netstandard1.1" | Get-ChildItem | Where-Object {$_.Extension -match '.nupkg'} | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

  artifacts:
    - path: Build\Lib\$(CONFIGURATION)\netstandard1.1\Trakt.NET.*.dll
      name: Assembly
    - path: Build\Lib\$(CONFIGURATION)\netstandard1.1\Trakt.NET.*.pdb
      name: AssemblyPDB
    - path: Build\Lib\$(CONFIGURATION)\netstandard1.1\Trakt.NET.*.xml
      name: DocumentationXML

  deploy:
    - provider: Environment
      name: myget-trakt-net
      on:
        branch: develop

# configuration for release branches
-
  version: '{branch}-{build}'
  image: Visual Studio 2017

  nuget:
    project_feed: true

  install:
    - cmd: appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/latest/nuget.exe

  cache:
    - packages -> **\packages.config

  pull_requests:
    do_not_increment_build_number: false

  skip_branch_with_pr: false

  before_build:
    - cmd: nuget restore

  after_build:
    - cmd: nuget pack Source\Lib\%APPVEYOR_PROJECT_NAME%\%APPVEYOR_PROJECT_NAME%.nuspec -OutputDirectory Build\Lib\%CONFIGURATION%\netstandard1.1 -BasePath Source\Lib\%APPVEYOR_PROJECT_NAME% -Properties buildConfig=Release -Version %APPVEYOR_BUILD_VERSION%

  build:
    verbosity: minimal

  branches:
    only:
      - /release/.*

  configuration: Release

  after_test:
    - ps: Join-Path "Build\Lib\" -ChildPath $env:CONFIGURATION | Join-Path -ChildPath "\netstandard1.1" | Get-ChildItem | Where-Object {$_.Extension -match '.dll|.pdb|.xml'} | Rename-Item -NewName {'Trakt.NET.' + $env:APPVEYOR_BUILD_VERSION + $_.Extension}
    - ps: Join-Path "Build\Lib\" -ChildPath $env:CONFIGURATION | Join-Path -ChildPath "\netstandard1.1" | Get-ChildItem | Where-Object {$_.Extension -match '.nupkg'} | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

  artifacts:
    - path: Build\Lib\$(CONFIGURATION)\netstandard1.1\Trakt.NET.*.dll
      name: Assembly
    - path: Build\Lib\$(CONFIGURATION)\netstandard1.1\Trakt.NET.*.pdb
      name: AssemblyPDB
    - path: Build\Lib\$(CONFIGURATION)\netstandard1.1\Trakt.NET.*.xml
      name: DocumentationXML

  deploy:
    - provider: Environment
      name: myget-trakt-net
    - provider: NuGet
      api_key:
        secure: 7sV2tYK7EEZlsWM3p58OKaKzC7csGv+JTHCOcCQs/G7xvEgAIFaXbVId7fdlMyuy
      skip_symbols: false
      symbol_server:
      server:
      artifact: Trakt.NET.*.nupkg
      on:
        appveyor_repo_tag: true
