name: "Code Scan"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * 5'

jobs:
  codeql:
    name: "Code-QL"
    runs-on: windows-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ['csharp']
        configuration: [Release]

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: 'csharp'

    - name: Restore dependencies
      run: dotnet restore
      working-directory: 'Source'

    - name: Build solution
      run: dotnet build  --configuration Release --no-restore
      working-directory: 'Source'

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
